.header-bg {
	height: 100vh;
	background-image: url("../assets/femmale3.png");
	background-size: 95%;
	background-color: black;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

div#center_main_box {
	opacity: 0.8;
	color: white;
	border-radius: 16px;
	background-color: #333333;
	border-top-color: #eeeeee;
	border-top-width: 6px;
	border-bottom-color: #eeeeee;
	border-bottom-width: 6px;
	border-left-color: #666666;
	border-left-width: 3px;
	border-right-color: #666666;
	border-right-width: 3px;
	border-style: ridge;
	position: relative;
	width: 33%;
	height: 31%;
	top: 33%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: middle;
}

div#center_main_box > div.subbox {
	width: 50%;
	top: 0;
}

input {
	border-radius: 16px;
	padding-left: 5px;
	padding-right: 5px;

	background-color: #dddddd;
}