body {
	
	background-size: 100%;
	background-image: url("../assets/femmale4.png");	
	background-color: black;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

div#center_main_box {
	opacity: 0.8;
	color: white;
	border-radius: 16px;
	background-color: #333333;
	border-top-color: #eeeeee;
	border-top-width: 6px;
	border-bottom-color: #eeeeee;
	border-bottom-width: 6px;
	border-left-color: #666666;
	border-left-width: 3px;
	border-right-color: #666666;
	border-right-width: 3px;
	border-style: ridge;
	width: 31%;
	height: 33%;
	padding-left: 30px;
	padding-right: 30px;
	position: absolute;
	top: 33%;
	left: 33%;
}

div > div.subbox {
	position: absolute;
	top: 0;
	width: 45%;
	height: 100%;
}

div #myprediction {
	left: 50%;
}

input {
	border-radius: 16px;
	padding-left: 5px;
	padding-right: 5px;

	background-color: #dddddd;
}

input[type="text"] {
	width: 40%;
}

.button {
	transition-duration: 0.5s;
	width: 55px;
	height: 25px;
}

.button:hover {
	color: white;
	background-color: black;
	width: 80px;
	height: 30px;
}

fieldset {
	border-width: 0px;
}